<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <p class="text-muted"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> <%= Time.now.year %> Michael Hall</p>
  </div>
</footer>
