<div class="jumbotron">
  <div class="container">
    <h1>Shipment</h1>
    <h3>Vendor: <%= @shipment.vendor.name %></h3>
    <h3>Order: <%= @shipment.order.number %></h3>
    <h3>Tracking Number: <%= @shipment.tracking_number %></h3>
  </div>
</div>
